/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #809761;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #667a4d;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7fafc;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
